@model WebUserInterface.Models.Administration.PersonFinderDetailsViewModel

@{
    ViewBag.Title = "Person Details";
}

<h1>Person Details</h1>

<p>@Html.TextBoxFor(name => @Model.PersonDetails.Name, new { @readonly = true })</p>
<p>@Html.TextBoxFor(lastName => @Model.PersonDetails.LastName, new { @readonly = true })</p>
<p>@Html.TextBoxFor(profession => @Model.PersonDetails.ProfessionSummary.Description, new { @readonly = true })</p>
<p>@Html.TextBoxFor(cellularPhone => @Model.PersonDetails.CellularPhone, new { @readonly = true })</p>
<p>@Html.TextBoxFor(email => @Model.PersonDetails.Email, new { @readonly = true })</p>
<p>@Html.TextBoxFor(address => @Model.PersonDetails.Address, new { @readonly = true })</p>