@model FMHWebApi.Models.CreatePersonViewModel

<h1>Create Person</h1>

@{
    ViewBag.Title = "Create Person";
}

@using (Html.BeginForm("CreatePerson", "Persons",
        new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
        new { @class = "form-horizontal", role = "form" }))
{
    <p>Name <br /> @Html.EditorFor(@model => @model.PersonDetails.Name)</p>

    <p>Last Name <br /> @Html.EditorFor(@model => @model.PersonDetails.LastName)</p>

    <p>
        Profession <br />
        @Html.DropDownListFor(@model => @model.PersonDetails.ProfessionSummary.ProfessionId,
            new SelectList(Model.ProfessionsList, "ProfessionId", "Description"))
    </p>

    <p>Address <br /> @Html.EditorFor(@model => @model.PersonDetails.Address)</p>

    <p>Name <br /> @Html.EditorFor(@model => @model.PersonDetails.CellularPhone)</p>

    <p>Celullar phone <br /> @Html.EditorFor(@model => @model.PersonDetails.Email)</p>

    <p>
        <input type="submit" value="Create" class="button button-3d nomargin" />
    </p>
}